@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    padding:0px;
    margin:0px;
    font-family: 'Oswald';
}

#container{
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("Savin-NY-Website-Background-Web1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#header{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align: center;
}

h1{
    font-size: 56px;
    margin-bottom: 16px;
}

#mode{
    display:grid;
    grid-template-columns: 36px 36px 36px;
}

.visible{
    background: rgba(0,255,0,30%);
}

#mode>*{
    font-size: 24px;
    border: 1px solid black;
    margin: 0px;
}


input{
    margin-top:64px;
    width: 320px;
    padding-left:4px;
    font-size:24px;
}

#content{
    width: 80%;
    margin-top: 36px;
}

#top{
    display:flex;
    justify-content: space-between;
}

#left{
    font-size: 48px;
}

#right>*{
    font-size: 48px;
    margin-left: 32px;
}

ul{
    list-style-type: none;
    margin: 32px;
    font-size: 36px;
}